<div class="card shadow-sm">
    <div class="nav-link text-dark" class="panel-header" [routerLink]="['/category' ]"><i class="fa-solid fa-layer-group p-1 icon-white-color"></i>Categorias</div>
    <div class="card-body">
    <p class="card-text">Em <b>5</b> Categorias</p>
    <p class="card-text"><b>R$ 550,00</b> gastos entre elas</p>
    <p class="card-text"><b>Moradia</b> foi a categoria que mais consumiu do seu orçamento</p>
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/category']">View</button>
        </div>
    </div>
    </div>
</div>